:root {
  --main-color: #0078d4;
  --divider-color: #eee;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: #f2f2f2;
}

body {
  font-family: Saira, sans-serif;
  font-size: 1em;
  color: #000000;
  background: white;
  margin: auto;
  max-width: 1200px;
}

nav {
  display: flex;
  justify-content: space-between;
}

.header {
  background-color: var(--main-color);
  min-height: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0.5em;
}

header ul li {
  display: inline;
  padding: 0 1.4em 0 0;
  font-size: 0.9em;
}

.content {
  padding: 0.5em;
}

.items-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: var(--divider-color) 1px solid;
}

.item-container {
  border-bottom: 1px solid var(--divider-color);
  display: flex;
  width: 600px;
}

.item-info {
  width: 100%;
}

.item-header {
  display: flex;
  justify-content: space-between;
}

.item-container img {
  border-right: 1px solid var(--divider-color);
  width: 100px;
  height: 100px;
}
