.container {
  border-bottom: 1px solid var(--divider-color);
  display: flex;
  width: 600px;
}

.info {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header span {
  cursor: pointer;
}

.container img {
  border-right: 1px solid var(--divider-color);
  width: 100px;
  height: 100px;
}
